.box_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 10px 15px;
    background-color: #221;
    color: #efefef;
}

.month_of_years {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.change_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    margin-left: 50px;
}

.change_group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background-color: rgb(67, 27, 90);
}

.change_group:hover {
    cursor: pointer;
}

/* #################### CALENDARIO ############### */

.main_calendar {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1240px;
    /* background-color: blueviolet; */
}

.calendar_ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}

.calendar_li {
    width: 175px;
    height: 100px;
    background-color: #111;
    color: #efefef;;
    margin: 1px;
    padding: 5px;
}

.red {
    background-color: brown;
}

.calendar_li:hover {
    cursor: pointer;
    background-color: #331;
}

.link_day {
    display: flex;
    width: 100%;
    height: 100%;
    text-decoration: none;
}